.app_title {
  text-align: center;
  background: #0b69de;
  margin: auto;
  padding: 30px;
  color: #fff;
  display: block;
  font-size: 26px;
  font-weight: bold;
}

.Box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 15px 15px;
}

.Grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 35px 35px;
  width: 88%;
}

.Header {
  margin-bottom: 35px;
}

.PaginationStyled {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.TitleStyled {
   font-size: 42px;
   color: #17171b;
   margin-bottom: 10px;
}

.Wrapper {
  background-color: #a6c8d84d;
}
.Pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.pageSize {
  min-width: 120px !important;
  top: -15px;
}

/* .formControl {
  margin: theme.spacing.unit,
  minWidth: 120,
}

.selectEmpty: {
  marginTop: theme.spacing.unit * 2,
}, */
